* {
    margin: auto;
    max-width: 800px;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(180deg, #ECF8F8, #EEE4E1, #E7D8C9, #E6BEAE, #B2967D)
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    text-align: center;
    margin-bottom: 35px;
    cursor: default;
    font-size: 1.4em;
}

strong {
    font-size: 1.1em;
    font-weight: 700;
}

li, p {
    cursor: default;
}

.section-title {
    text-align: center;
    margin: 40px 0 90px;
    cursor: default;
}

.section-title h1 {
    margin:  10px 0 60px;
}

.section-title a {
    text-decoration: none;
    padding: 0 40px;
    color: black;
    font-weight: bold;
}

.section-title a:hover {
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.5s;
    opacity: 0.5;
}

.links {
    margin-bottom: 60px;
}

.about-me-part{
    margin-bottom: 90px;

}

.profile-image {
    max-height: 360px;
    max-width: 270px;
    border-radius: 10%;
}

.profile-image:hover {
    opacity: 0.8;
}

.text-about-me {
    position: relative;
    right: 50px;
    max-width: 400px;
    float: right;
    top: 27px;
}

.text-about-me h3{
    margin-bottom: 15px;
}
.text-about-me p {
    text-align: justify;
}

.hard-skills-part {
    margin-bottom: 90px;
    clear: both;
}

.hard-skills-list li {
    margin-top: 10px;
    font-weight: bold;
}

.hard-skills-list li:hover {
    color: grey;
    font-size: 1.2em;
    transition:0.5s;
}

.soft-skills-part {
    margin-bottom: 90px;
    clear: both;
}

.soft-skills-part li {
    margin-top: 10px;
    font-weight: bold;
    transition:0.5s;
}

.soft-skills-part li:hover {
    color: maroon;
    font-size: 1.2em;
}
    
.soft-skills-list #list-item {
    text-decoration: underline;
}

.projects-part {
    clear: both;
    margin-bottom: 90px;
    text-align: center;
}

#under-construction {
    position: relative;
    top: 10px;
    left: 15px;
    width: 150px;
}

.projects-part p{
    float: right;
    padding: 68px 40px 0 0;
    font-size: 1.2em;
}

.projects-part p:hover{
    font-weight: bold;
    font-size: 1.3em;
}

.contact-part{
    margin-bottom: 40px;
    clear: both;
    text-align: center;
}

#github, #linkedin {
    width: 100px;
}

#github:hover, #linkedin:hover {
    width: 110px;
    transition:0.5s;
    opacity: 0.7;
}
